$min-mobile:("min-width: 380px");
$max-mobile: "(max-width: 767px)";
$min-small: ("min-width: 768px");
$max-small: ("max-width: 991px");
$min-medium: ("min-width: 992px");
$max-medium: ("man-width: 1999px");
$min-large: ("min-width: 1200px");
$max-large: ("max-width: 1899px");
$min-Xlarge: ("min-width: 1900px");
